<!-- Navigation Menu Start-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="">Souqmode</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link js-scroll-trigger dropdown-toggle" href="#services" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [matMenuTriggerFor]="menu">Digital Marketing</a>
          <div id="myMenu">
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/sem">
                <!--<mat-icon>dialpad</mat-icon>-->
                <i class="fas fa-1x fa-heart text-primary mb-3 sr-icon-1 menu-icon"></i>
                <span>SEM</span>
              </button>
              <button mat-menu-item routerLink="/seo">
                <i class="fas fa-1x fa-gem text-primary mb-3 sr-icon-1 menu-icon"></i>
                <span>SEO</span>
              </button>
              <button mat-menu-item routerLink="/smm">
                <i class="fas fa-1x fa-paper-plane text-primary mb-3 sr-icon-1 menu-icon"></i>
                <span>SMM</span>
              </button>
            </mat-menu>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navigation Menu End-->


