
<!-- Navigation Menu Start-->
<app-nav id="mainNavId"></app-nav>
<!-- Navigation Menu End-->

<mat-toolbar color="primary" id="mainNav">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <a class="navbar-brand brand-title js-scroll-trigger" routerLink="">Souqmode</a>
</mat-toolbar>

<mat-sidenav-container class="example-container" [style.marginTop.px]="56">
  <mat-sidenav #sidenav [mode]="'over'" fixedTopGap="56" id="sideNavId">
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
      <a mat-list-item (click)="sidenav.toggle()" routerLink="">
        <i class="fas fa-1x fa-home text-primary mb-3 sr-icon-1 submenu-icon"></i>Home</a>
      <a mat-list-item (click)="sidenav.toggle()" href="#about">
        <i class="fas fa-1x fa-podcast text-primary mb-3 sr-icon-1 submenu-icon"></i>About</a>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="mar-top-10"><i class="fas fa-1x fa-chart-line text-primary mb-3 sr-icon-1 dgm-icon"></i>
              Digital Marketing</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/sem" (click)="sidenav.toggle()"><i class="fas fa-1x fa-heart text-primary mb-3 sr-icon-1 submenu-icon"></i>SEM</a>
          <a mat-list-item routerLink="/seo" (click)="sidenav.toggle()"><i class="fas fa-1x fa-gem text-primary mb-3 sr-icon-1 submenu-icon"></i>SEO</a>
          <a mat-list-item routerLink="/smm" (click)="sidenav.toggle()"><i class="fas fa-1x fa-paper-plane text-primary mb-3 sr-icon-1 submenu-icon"></i>SMM</a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
      <!-- <a mat-list-item routerLink=".">Digital Marketing</a> -->
      <a mat-list-item href="#portfolio" (click)="sidenav.toggle()"><i class="fas fa-1x fa-blog text-primary mb-3 sr-icon-1 submenu-icon"></i>Blog</a>
      <a mat-list-item href="#contact" (click)="sidenav.toggle()"><i class="fas fa-1x fa-address-card text-primary mb-3 sr-icon-1 submenu-icon"></i>Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <!--footer starts here-->
    <app-footer></app-footer>
    <!--footer ends here-->

  </mat-sidenav-content>

</mat-sidenav-container>



